.MobileNavigation {
    display: none;
    position: scroll;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
    z-index: 9999;
}

.navigation__content {
    width: 66%;
    margin: auto;
}

.navigation ul {
    display: flex;
}

.navigation ul>a {
    list-style-type: none;
    color: inherit;
    text-decoration: none;
    padding: 7px 15px;
    font-size: 15px;
}

.navigation ul>.navLink {
    list-style-type: none;
    color: inherit;
    text-decoration: none;
    padding: 7px 15px;
    font-size: 15px;
}

.navigation ul a {
    list-style-type: none;
    color: inherit;
    text-decoration: none;
}

.menuIsActive {
    background-color: rgb(219, 184, 35);
}

/* MENU DEROULANT */
.navigation__content a {
    position: relative;
}

.navigation__content .navLink {
    position: relative;
}

.menuDeroulant {
    position: absolute;
    top: 100%;
    left: 0px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menuDeroulant ul {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 900;
    width: 150px;
}

.menuDeroulant ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;

}

.menuDeroulant i {
    color: rgb(151, 148, 142);
}

.menuDeroulant>ul>li:hover {
    color: red;
    background-color: rgb(242, 239, 230);
}

.menuDeroulant>ul>div>:hover {
    color: red;
    background-color: rgb(242, 239, 230);
}

.menuDeroulant>ul>div>:hover ul li {
    color: initial;
}

.sousMenuDeroulant>ul>div>a>li:hover {
    color: red !important;
    background-color: rgb(242, 239, 230);
}

.navigation__content a:hover>.menuDeroulant {
    display: flex;
}

.navigation__content .navLink:hover>.menuDeroulant {
    display: flex;
}

.sousMenuDeroulant {
    display: none;
    position: absolute;
    top: 0px;
    left: 100%;
}

.menuDeroulant ul li:hover .sousMenuDeroulant {
    display: flex;
    flex-direction: column;
}

.menuDeroulant ul div {
    margin: 0px;
    padding: 0px;
}

.sousMenuDeroulant__container {
    height: fit-content;
}

.searchBar__miniNavigation i {
    position: absolute;
    right: 25px;
    font-size: 22px;
    background-color: rgb(219, 184, 35);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    top: 62px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* mobile navigation */
.MobileNavigation {
    display: flex;
    flex-direction: column;
    animation-name: appearsSlowlyFromRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.MobileNavigation__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.MobileNavigation__header i {
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
}

.MobileNavigation__body {
    display: flex;
    flex-direction: column;
}

.MobileNavigation__body a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 5px 15px;
    padding: 15px;
}

.MobileNavigation__body i {
    margin-right: 15px;
}

.mobileMenuActive {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 3px;
}

/* navigation mobile */

.MobileNavigation__body {
    position: relative;
    display: flex;
    flex-direction: column;
}

.MobileNavigation__body ul {
    display: flex;
    flex-direction: column;
}

.sousMenuDeroulantMobile li {
    list-style-type: none;
}

.sousMenuDeroulantMobile a {
    text-decoration: none;
    color: inherit;
}

/* sdfdsfdsfsdfsdfsdfsdf */

.menu-header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

.nested-menu {
    margin-left: 1rem;
    transition: all 0.3s ease;
}

.MobileNavigation__body ul {
    list-style: none;
    padding-left: 0;
}

.MobileNavigation__body li {
    padding: 0.5rem;
}

.MobileNavigation__body span {
    font-size: 14px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.MobileNavigation__body span>p {
    margin-right: 5px;
}

.MobileNavigation__body i {
    font-size: 20px;
}

.MobileNavigation__body a {
    display: flex;
    align-items: center;
}