.search__content {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eae8e8;
    width: 66%;
    margin: auto;
}

/* search logo */

.search__logo {
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.search__logo img {
    width: 50px;
}

.search__logo p {
    font-family: ferdinand;
    font-size: 30px;
    margin-left: 9px;
}

/* search bar */
.searchBar {
    margin-left: 31px;
    width: 57%;
}

.searchBar form {
    width: 100%;
    display: flex;
    align-items: center;
}

.searchBar input {
    height: 40px;
    width: 100%;
    border: none;
    background-color: rgb(242, 239, 230);
    padding: 10px;
    border-radius: 5px;
}

.searchBar button {
    margin-left: 10px;
    background-color: #0b880b;
    background-color: rgb(110, 135, 65);
    color: white;
}

.searchBar__miniNavigation {
    display: none;
}

/* search buttons */
.search__auth {
    display: flex;
    align-items: center;
}

.search__auth button {
    margin-left: 15px;
}

.search__auth--profil {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.search__auth--auth {
    background-color: rgb(51, 50, 48);
    color: white;
}

/* shut down */
.search__auth img {
    width: 17px;
    cursor: pointer;

}

.btn-shutDown {

}