/* chatMenu */

/* chatbase */
.chatMenu {
    background-color: rgba(0, 0, 0, .0);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.chatMenu__content {
    color: rgba(0, 0, 0, .8);
    width: 250px;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;

}

.chatBase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(110, 135, 65);
    color: white;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chatBase__profile {
    display: flex;
    align-items: center;
}

.chatBase__profile p {
    font-size: 14px;
}

.chatBase__profile img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    padding: 3px;
    border-radius:50%;
}

.chat--up {
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px
}

.chat--up:hover {
    background-color: rgba(0, 0, 0, .1);
}

/* chatList */

.chatList {
    height: 67vh;
}

.chatList__searchBar>form>input {
    padding-left: 30px;
    background-color: aliceblue;
    border: none;
    width: 100%;
    height: 32px;
    font-size: 13px;
    border-radius: 5px;
}

.chatList__searchBar>form {
    width: 100%;
    position: relative;
    padding: 7px;
}

.chatList__searchBar>form>button {
    position: absolute;
    border: none;
    background: none;
    top: 14px;
    left: 14px;
    color: rgba(0, 0, 0, .5);
}

.chatList__fiche {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 5px 0px;
    cursor: pointer;
}

.chatList__fiche__profil {
    display: flex;
    align-items: center;
    position: relative;
}

.chatList__fiche:hover {
    background-color: rgba(0, 0, 0, .1);
}

.chatList__fiche img {
    width: 48px;
    height: 48px;
    margin: 0px 10px 0px 5px;
    border-radius:50%;
}

.chatList__fiche__isConnected {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    margin-right: 15px;
    position: absolute;
    bottom: 0px;
    left: 32px;
    border: 3px solid white;
}

.chatList__fiches {
    overflow: auto;
}

/* chatroom */

.chatRoom {
    position: fixed;
    right: 265px;
    bottom: 0px;
    width: 358px;
    border: 1px solid black;
    background-color: red;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    color: rgba(0, 0, 0, .8);
}

.chatRoom__content {
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.chatRoom__content__header {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.chatRoom__content__header--profil {
    display: flex;
    align-items: center;
    width: 100%;
}

.chatRoom__content__header--profil img { 
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border-radius:50%; 
}

.chatRoom__content__header i {
    cursor: pointer;
}

.chatRoom__content__chat {
    overflow: auto;
    height: 250px;
}

.chatRoom__content__footer {
    border-top: 2px solid green;
    padding-top: 10px;
}

.chatRoom__content__footer__input {
    display: flex;
    justify-content: center;
}

.chatRoom__content__footer__input input {
    height: 85px;
    width: 92%;
    padding-left: 15px;
    background-color: rgb(244, 242, 238);
    color: rgb(25, 25, 25);
    border: none;
    border-radius: 9px;
}



.chatRoom__content__footer__send {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

.chatRoom__content__footer__send button {
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.chatRoom__content__chat>div {
    display: flex;
    flex-direction: column;
    margin: 16px 7px;
}

.chatRoom__content__chat>div>div {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    color: black; 
}

.chatRoom__content__chat>div>div img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius:50%;
}

.chatRoom__content__chat>div>p {
    margin-left: 35px;
    font-size: 14px;
    font-weight: 400;
}

.chatList__fiche__profil {
    position: relative;
}

.chatList__fiche__alert {
    position: absolute;
    right: -100px;
    animation-name: sursaut;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.msgDate{
    color:grey;
    font-size:12px;
}